#app {
  height: 100%;
}

.content {
  flex: 1 0 auto;
}

.formula {
  padding: 0.375rem 0.75rem;
}

.formula.equation {
  font-size: 32px;
}

.math-list-bg {
  background: linear-gradient( #bbb, transparent 1px), linear-gradient( 90deg, #bbb, transparent 1px);
  background-size: 15px 15px;
  background-position: center center;
}

.main-layout {
  //background-color: #fbfdff !important;
}

.fraction-line {
  border-color: #000 !important;
  border-width: 1px !important;
}

.denominator {
  margin-top: 10px !important;
}

.numerator, .denominator, .fraction-line, .integer{
  width: 120px !important;
}

.textbook-list {
  columns: 3 !important;
  column-gap: 10px !important;

  .incrementor {
    margin-right: 10px !important;
    font-family: Consolas, Lucida Console,Menlo, Monaco, monospace;
  }
}

.textbook-section-title {
  a {
    color: #000 !important;
    font-weight: 700 !important;
  }
}

.container-width {
  max-width: 900px !important;
}

.task-date {
  font-size: 16px !important;
  font-weight: normal !important;
  color: #868d9a !important;
}
